body{
    background-color: #EAE7DC;
    color: #8E8D8A;
    font-family: 'Lora', serif;
    font-size: 16px;
    text-align: center;
    

}
h1, h2 {
	font-family: 'Montserrat', sans-serif;

}

h1{
	color: #E85A4F;
    letter-spacing: 10px;
    font-size: 60px;
    font-weight: bolder;
}
h2{
	color: #E98074;
	font-size: 22px;
	font-weight:500;
}


a{
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: #E98074;
	transition: 0.1s ease;

}
a:hover{
	color: #E85A4F;
	font-weight: bold;
}



	 


.container{
	width: 700px;
	margin: 40px auto;

}

.box-white{
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
}

.img-circle{
	border-radius: 50%;
}

.btn-shadow{
	background-color: #E85A4F;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
	
}
.btn-shadow:hover{
	color: white;
	font-weight: bold;
}

.list-inligne{
	list-style: none;
	padding-left: 0px;


}
.list-inligne li {
	display: inline;
	padding: 10px;
}

.list-inligne i{
	font-size: 40px;
}

#introduction p{
margin-bottom: 30px;
}

#chess p{
	margin-bottom: 30px;
}

@media (max-width: 500px) {
	.container{
		width: 400px;
	}
}

@media (max-width: 760px) {
	.container{
		width: 600px;
	}
}